@keyframes ldio-q8da5bg9h9a {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-q8da5bg9h9a div { box-sizing: border-box!important }
.ldio-q8da5bg9h9a > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #93dbe9 transparent #93dbe9 transparent;
  animation: ldio-q8da5bg9h9a 1s linear infinite;
}
.ldio-q8da5bg9h9a > div:nth-child(2) { border-color: transparent }
.ldio-q8da5bg9h9a > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-q8da5bg9h9a > div:nth-child(2) div:before, .ldio-q8da5bg9h9a > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #93dbe9;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #93dbe9;
}
.ldio-q8da5bg9h9a > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #93dbe9;
}
.loadingio-spinner-dual-ring-olhglq60uu {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-q8da5bg9h9a {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-q8da5bg9h9a div { box-sizing: content-box; }
