.card {
    margin: 20px auto;
    width: 35%;
    padding: 10px;
    background-color: aquamarine;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    background-color: #0dcaf0;
}

.logout {
    text-align: center;
}