.card {
    margin: 20px auto;
    width: 35%;
    padding: 10px;
    background-color: aquamarine;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    background-color: #0dcaf0;
}

.logout {
    text-align: center;
}

.intake {
    margin-top: 60px;
}

.bpIntake {
    width: 84%;
    margin-bottom: 100px;
    margin-left: 100px;
}

.bottomDiv {
    margin-top: 100px;
}

.chart {
    width: 1000px !important;
    margin-left: 100px !important;
}

.analysis {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    background-color: #37d218;    
}

.finalSection {
    text-align: center;
    margin-top: 100px;
}

.list-group-item.analysisItem {
    background-color: #e95d74;
}