<div *ngIf="patientExist">
    <div class="logout">
        <h3>Patient Profile</h3>
        <div class="card text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h3>Patient Name: {{ patientName }}</h3></li>
              <li class="list-group-item"><h3>Patient Gender: {{ patientGender }}</h3></li>
              <li class="list-group-item"><h3>Patient Age: {{ patientAge }}</h3></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary btn-lg" (click)="onClick()">Logout</button>
    </div>

    <div class="bottomDiv">
        <table>
            <tr>
                <td>
                    <div class="col-xs-12 bpIntake">
                        <h4 class="text-primary"><h3>Enter your daily blood pressure below</h3></h4>
                        <form #bpForm="ngForm" (ngSubmit)="onSendBpData(bpForm)">
                            <div class="form-group">
                                <label for="bp"><h3>Blood Pressure</h3></label>
                                <input type="bp" id="bp" class="form-control" ngModel name="bp" required/>
                            </div>
                            <div class="form-group">
                                <label for="date"><h3>Date</h3></label>
                                <input type="date" id="date" class="form-control" ngModel name="date" required/>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-lg" type="submit" [disabled]="!bpForm.valid">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- <p>{{ measureAndDate }}</p> -->
                </td>
                <td>
                    <canvas class="chart" *ngIf="graphDataExist" baseChart
                            [datasets]="graphData" 
                            [labels]="graphLabels" 
                            [options]="graphOptions"
                            [colors]="graphColors" 
                            [legend]="graphLegend" 
                            [chartType]="graphType">
                    </canvas>
                </td>
            </tr>
        </table>
    </div>  
</div>



<div *ngIf="!patientExist" class="row intake">
    <div class="col-xs-12 col-md-3 col-md-offset-4">
      <h4 class="text-primary">Please enter the following information!</h4>
      <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="name" id="name" class="form-control" ngModel name="name" required/>
          </div>
          <div class="form-group">
              <label for="gender">Gender</label>
              <input type="gender" id="gender" class="form-control" ngModel name="gender" required/>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="age" id="age" class="form-control" ngModel name="age" required/>
          </div>
          <div>
              <button class="btn btn-primary" type="submit" [disabled]="!patientForm.valid">
                  Submit
              </button>
          </div>
      </form>
    </div>
  </div>